services:
  - type: web
    name: garant-bot
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm ci && npm run build
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: SESSION_SECRET
        sync: false
      - key: WEB_APP_URL
        sync: false
      - key: PORT
        value: 10000

databases:
  - name: garant-bot-db
    databaseName: garant_bot
    user: garant_user
    plan: free
